/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* Style */
    background-color:  #fff5a0;
    font-size: 2rem;

}

header h1 {
    /* Style */
    text-align: center;
    font-weight: bold;
}

ul{
    padding-left: 10px;
    /* Style */
    list-style-type: none;
}


#add_items_input_text{
    background-color: #ffffffa3;
    border-radius: 6px
}

#add_items{
    margin: 20px 0 20px 6px;
}
